<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nueva categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <form [formGroup]="formNuevaCategoria" (ngSubmit)="crearNuevaCategoria()">

  <ion-item>
    <ion-label position="stacked">Título</ion-label>
    <ion-input placeholder="" class="custom" ></ion-input>
  </ion-item>

  <ion-grid fixed class="ion-no-padding">
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button expand="block" color="danger" (click)="cerrarModal()" >Cancelar</ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col >
        <ion-button expand="block" color="primary" type="submit">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>


</ion-content>
