<app-header-modal titulo="Nuevo Grupo"></app-header-modal>

<ion-content class="ion-padding">

  <form [formGroup]="formNuevoGrupo" (ngSubmit)="crearNuevoGrupo()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Título</ion-label>
        <ion-input placeholder="" class="custom" formControlName="titulo"></ion-input>
        <ion-note slot="error" *ngIf="campoValido('titulo')">Campo obligatorio</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Contactos</ion-label>
      </ion-item>
      <app-item-contactos></app-item-contactos>
    </ion-list>

    <ion-grid fixed class="ion-padding-top">
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button expand="block" color="danger" (click)="cerrarModal()">Cancelar</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col >
          <ion-button expand="block" color="primary" type="submit">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</form>
</ion-content>
