<app-header-modal titulo="Perfil"></app-header-modal>

<ion-content class="ion-padding">

  <ion-grid>
      <ion-row>
          <ion-avatar class="ion-text-center">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text class="ion-text-center">
            <h1>David Castro G</h1>
          </ion-text>
        </ion-col>
        </ion-row>
        <ion-row  >
            <label>3143658957</label>
        </ion-row>

      <ion-row class="ion-padding-top">
          <p>Iniciaste sesión con</p>
      </ion-row>

      <ion-row>
          <ion-button shape="round" color="dark" (click)="login()"  fill="outline">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
      </ion-row>
    </ion-grid>

</ion-content>
