.check-m{
  margin-inline-end: 10px;
}

.item-p{
  padding-bottom: 20px !important;
}

.item-login{
  padding-bottom: 30px !important;
}

.item-title{
  padding-top: 0px;
  padding-bottom: 30px !important;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

